@import url('https://fonts.googleapis.com/css?family=Poppins|Work+Sans&display=swap');

:root {
	--primary-color: #134266;
	--secondary-color: #FDE072;
	--accent1-color: #161925;
    --accent2-color: #78C5D7;
    --background-color: #333333;
    --background-page: #f2f2f2;
	--heading-font: 'Work Sans', sans-serif;
	--paragraph-font: 'Poppins', sans-serif;
}


html {
	background-color: var(--background-page);
    font-family: var(--paragraph-font);
}

body {
    max-width: 960px;
    text-align: center;
}